# Definições gerais
root = true

# Definições para todos os arquivos
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Definições específicas para arquivos de código-fonte
[*.{js,ts,jsx,tsx}]
indent_size = 2

# Definições específicas para arquivos CSS
[*.{css,scss}]
indent_size = 2

# Definições específicas para arquivos Markdown
[*.md]
trim_trailing_whitespace = false
